# This is Git's per-user configuration file.
# [user]
# 	name = Alijan Adeli
# 	email = alijan.adeli@consid.se
# Please adapt and uncomment the following lines:
#	name = Alijan Adeli
#	email = ali@MacBook-Pro-som-tillhor-Alijan.local
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[credential]
	helper = osxkeychain
[init]
	defautBranch = main
[push]
	default = upstream
	autoSetupRemote = true
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    side-by-side = true
    line-numbers = true
    syntax-theme = tokyonight_storm 
    true-color = always
    hunk-header-style = omit

[delta "line-numbers"]
    line-numbers = true
    line-numbers-minus-style = red
    line-numbers-zero-style = "#565f89"
    line-numbers-plus-style = green
    line-numbers-left-format = "{nm:^4}"
    line-numbers-right-format = "{np:^4}"

