*.lock.json
*.pyc
.DS_Store
/helix/.config/helix/runtime
/fish/.config/fish/conf.d/fish_variables
.npmrc
.ssh
.yarnrc
dist
logs
npm-debug.log
pids
run
/lazygit/Library/Application\Support/lazygit/state.yml
