*.lock.json
*.pyc
.DS_Store
/helix/.config/helix/runtime
/helix/.config/helix/external-snippets/
.npmrc
.yarnrc
dist
logs
npm-debug.log
pids
run
/lazygit/Library/Application Support/lazygit/state.yml
fish/.config/fish/conf.d/nvm.fish
helix/.config/helix/external-snippets/github.com/rafamadriz
