(
    selected_tab: Some(Rgb(169,177,214)),
    command_fg: Some(Rgb(169,177,214)),
    selection_bg: Some(Rgb(55,61,90)),
    selection_fg: Some(Rgb(169,177,214)),
    cmdbar_bg: Some(Rgb(36, 40, 59)),
    cmdbar_extra_lines_bg: Some(Rgb(36, 40, 59)),
    disabled_fg: Some(Rgb(86,95,137)),
    diff_line_add: Some(Rgb(158, 206, 106)),
    diff_line_delete: Some(Rgb(247, 118, 142)),
    diff_file_added: Some(Rgb(115, 218, 202)),
    diff_file_removed: Some(Rgb(219, 75, 75)),
    diff_file_moved: Some(Rgb(255, 0, 124)),
    diff_file_modified: Some(Rgb(224, 175, 104)),
    commit_hash: Some(Rgb(187, 154, 247)),
    commit_time: Some(Rgb(26, 188, 156)),
    commit_author: Some(Rgb(158, 206, 106)),
    danger_fg: Some(Rgb(247, 118, 142)),
    push_gauge_bg: Some(Rgb(36, 40, 59)),
    push_gauge_fg: Some(Rgb(192, 202, 245)),
    tag_fg: Some(Rgb(255, 0, 124)),
    branch_fg: Some(Rgb(169,177,214)),
)