layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
    }
    tab name="Intra" {
        pane  name="helix" {
            command "hx"
            focus true
            cwd "/Users/ali/Desktop/projects/mkb-intranet-2021-frontend"
        }
        floating_panes {
            pane  name="npm" {
                command "npm"
                args "run" "start" 
                cwd "/Users/ali/Desktop/projects/mkb-intranet-2021-frontend"
            }
        }
    }
}
