
[includeIf "gitdir:~/code/personal/"]
    path = .gitconfig-personal

[includeIf "gitdir:~/code/professional/"]
    path = .gitconfig-professional

[commit]
    gpgSign = true
    template = ~/.config/git/template

[core]
    autocrlf = input  # keep newlines as in input
    compression = 9  # trade cpu for network
    fsync = none
    whitespace = error  # threat incorrect whitespace as errors

[advice]  # disable advices
    addEmptyPathspec = false
    pushNonFastForward = false
    statusHints = false

[blame]
    coloring = highlightRecent
    date = relative

[difftool]
    # Run the difftool immediately, don't ask 'are you sure' each time.
    prompt = false

[diff]
    # Set difftastic as the default difftool, so we don't need to specify
    # `-t difftastic` every time.
    tool = difftastic

[init]
    defaultBranch = main

[log]
    abbrevCommit = true  # short commits
    graphColors = blue,yellow,cyan,magenta,green,red

[status]
    branch = true
    short = true
    showStash = true
    showUntrackedFiles = all  # show individual untracked files

[pager]
    # Use a pager if the difftool output is larger than one screenful,
    # consistent with the behaviour of `git diff`.
    difftool = true

[push]
    autoSetupRemote = true  # easier to push new branches
    default = current  # push only current branch by default
    followTags = true  # push also tags
    gpgSign = false  # my remotes doesn't support sign pushes

[pull]
    rebase = true

[submodule]
    fetchJobs = 16

[rebase]
    autoStash = true

[interactive]
    diffFilter = diff-so-fancy --patch
    singlekey = true

# Third-party: diff-so-fancy
[diff-so-fancy]
    markEmptyLines = false

